<div class="row__porcentajes">
  <div class="row__porcentaje_uno">
    <label [(ngModel)]="recievedPercentageOne" class="row__porcentaje-uno__label"> 39% </label>
    <label> Humedad Relativa </label>
  </div>
  <div class="row__porcentaje_dos">
    <label [(ngModel)] = "recievedPercentageTwo" class="row__porcentaje-dos__label"> 60% </label>
    <label> Humedad de Tierra </label>
  </div>
  <div class="row__porcentaje_tres">
    <label [(ngModel)] = "recievedPercentageThree" class="row__porcentaje-tres__label"> 39°C </label>
    <label> Temperatura </label>
  </div>

</div>