<ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label> Sala </ion-label>
    </ion-item>
    <div class="accordion__label" slot="content">
      Estado: Activado
    </div>
    <div class="accordion__btn" slot="content">
      <ion-button class="btn-secondary"> Desconectar </ion-button>
    </div>
    <div class="accordion__btn" slot="content">
      <ion-button class="btn-primary"> Olvidar </ion-button>
    </div>

  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label> Cuarto </ion-label>
    </ion-item>
    <div class="accordion__label" slot="content">
      Estado: Desactivado
    </div>
    <div class="accordion__btn" slot="content">
      <ion-button class="btn-secondary"> Conectar </ion-button>
    </div>
    <div class="accordion__btn" slot="content">
      <ion-button class="btn-primary"> Olvidar </ion-button>
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label> Cocina </ion-label>
    </ion-item>
    <div class="accordion__label" slot="content">
      Estado: Desactivado
    </div>
    <div class="accordion__btn" slot="content">
      <ion-button class="btn-secondary"> Conectar </ion-button>
    </div>
    <div class="accordion__btn" slot="content">
      <ion-button class="btn-primary"> Olvidar </ion-button>
    </div>  
  </ion-accordion>
</ion-accordion-group>