<ion-grid>
  <ion-row>
    <ion-col size="12" class="table__header"> Historial </ion-col>
  </ion-row>
  <ion-row class="row__registro">
    <ion-col>  
      <ion-row> Humedad relativa: </ion-row>
      <ion-row> Humedad de tierra: </ion-row>
      <ion-row> Temperatura: </ion-row>

    </ion-col>
    <ion-col class="row__timestamp"> 2024-04-20 13:46:28 </ion-col>
  </ion-row>
  <ion-row class="row__registro">
    <ion-col>      
      <ion-row> Humedad relativa: </ion-row>
      <ion-row> Humedad de tierra: </ion-row>
      <ion-row> Temperatura: </ion-row>
    </ion-col>
    <ion-col class="row__timestamp"> 2024-04-20 15:17:01 </ion-col>
  </ion-row>
  <ion-row class="row__registro">
    <ion-col>
      <ion-row> Humedad relativa: </ion-row>
      <ion-row> Humedad de tierra: </ion-row>
      <ion-row> Temperatura: </ion-row>
    </ion-col>
    <ion-col class="row__timestamp"> 2024-04-19 16:31:43  </ion-col>
  </ion-row>
  <ion-row class="table__last-row">
    <ion-col>
      <ion-row> Humedad relativa: </ion-row>
      <ion-row> Humedad de tierra: </ion-row>
      <ion-row> Temperatura: </ion-row>
    </ion-col>
    <ion-col class="row__timestamp"> 2024-04-17 14:12:09 </ion-col>
  </ion-row>
  <!-- Agrega más filas según sea necesario -->
</ion-grid>