<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="Home" href="/tabs/home">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dispositivos" href="/tabs/dispositivos">
      <ion-icon name="leaf-sharp"></ion-icon>      
      <ion-label>Dispositivos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ajustes" href="/tabs/ajustes">
      <ion-icon name="settings-sharp"></ion-icon>      
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
