ion-content{
    height: 100vh;
}

ion-grid{
    height: 100vh;
}

.row__circulo-bluetooth{
    display: flex;
    justify-content: center;
    height: 40%;
}

.row__porcentajes{
    display: flex;
    justify-content: center;
    height: 15%;
    margin-bottom: 20px;
}

.row__btn-regar{
    display: flex;
    justify-content: center;
    height: 5%;
    margin-bottom: 40px;
}

