.background{
    display: flex;
    --background: url('../../../assets/img/LivingRoomPlants.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    position: relative; /* Añadido */

}

.form__container{
    position: absolute; /* Añadido */
    bottom: 0; /* Añadido */
    height: auto; /* Cambiado de 100% a auto */

}

ion-grid{
    height: 100vh; /* Corregido el error de tipografía de 100vb a 100vh */
}

ion-row{
    height: 50%;
}